*.o
*~
.deps/
.dirstamp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/m4/
/missing
/stamp-h?

/examples/*/Makefile.PL
/src/google/protobuf/compiler/perlxs/perlxs_config.h
/src/protoxs
